.shop__content .ant-card-cover > *{
    padding: 10px 40px;
    height:200px;
}

.productspage__wrapper .productspage__leftnav{
    flex:1;
    padding-right:10px;
    margin-bottom: 20px;
    margin-top:32px;
}

.productspage__wrapper .shop__content{
    flex:3;
    padding-left:10px;
    margin-top:32px;
}

.productspage__wrapper{
    display: flex;
    max-width: 1300px;
    margin:0 auto;
}

.shop__productcard-wrapper{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.productspage__leftnav .ant-collapse-borderless{
    background: #fff !important;
}

@media screen and (max-width:1023px){
    .productspage__wrapper{
        flex-direction: column;
    }

    .productspage__leftnav{
        padding-right: 0px !important;
        margin:0px 20px;
        margin-top:20px  !important;
        margin-bottom:15px  !important;
    }

    .shop__content{
        padding-left:0px !important;
        margin:0px 20px;
        margin-top:15px !important;
    }
}

@media screen and (min-width:768px) and (max-width:1000px){
    .shop__productcard-wrapper{
        grid-template-columns: repeat(2, minmax(250px, 1fr));
        padding:0px;
    }
}

@media screen and (min-width:1001px){
    .shop__productcard-wrapper{
        grid-template-columns: repeat(3, minmax(250px, 1fr));
        padding:0px;
    }
}

@media screen and (min-width:1024px) and (max-width:1300px){
    .productspage__leftnav{
        padding-right: 0px !important;
        margin:0px 20px;
        margin-top:20px  !important;
        margin-bottom:15px  !important;
    }
}

