.shop__content .ant-card-cover > *{
    padding: 10px 40px;
    height:200px;
}

.productspage__wrapper .productspage__leftnav{
    flex:1;
    padding-right:10px;
    margin-bottom: 20px;
    margin-top:32px;
}

.productspage__wrapper .shop__content{
    flex:3;
    padding-left:10px;
    margin-top:32px;
}

.productspage__wrapper{
    display: flex;
    max-width: 1300px;
    margin:0 auto;
}

@media screen and (max-width:1023px){
    .productspage__wrapper{
        flex-direction: column;
    }

    .productspage__leftnav{
        padding-right: 0px !important;
        margin:0px 25px;
    }

    .shop__content{
        padding-left:0px !important;
        margin:0px 25px;
        margin-top:25px !important;
    }
}